*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  background-color: #000;
}

.card{
  height: 100px;
  width: 100px;
  text-align: center;
  border: 1px solid white;
  background-color: #111;
}

.card img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}